.content {
    grid-area: c;
    background-color: #eeadff;
    overflow: hidden;
}
.bg img {
    width: 100%;
    max-height: 300px;
    aspect-ratio: 1/1;
    filter: brightness(90%);
    /*background-image: linear-gradient(to bottom, rgb(33 44 55 / 0), rgb(33 44 55 / 0), rgb(33 44 55 /0.75));*/

    transition: .3s;
}
.bg img:hover{
    filter: brightness(100%);
}

