.posts {
    display: grid;
    row-gap: 1rem;
    margin-top: 15px;
}
.posts_wrapper {
    padding: 0 10px;
}

h3 {
    text-align: center;
}

.new_post {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}
.new_post textarea {
    grid-column: 1 / -1;
    max-width: 100%;
    resize: none;
    padding: 10px;

    border: 2px solid #231c43;
    border-radius: 10px;
}
.new_post button {
    color: white;
    background-color: #231c43;
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    transition: 0.3s;
}
.new_post button:hover {
    cursor: pointer;

    background-color: white;
    color: #231c43;
}

.new_post button:first-of-type{
    justify-self: end;
}
.new_post button:last-of-type{

}