.input {
  font-size: 16px;
  padding: 6px 8px;
  border-radius: 10px;
  border: 2px solid #231c43;
}
.error .input {
  border-color: red;
  color: red;
}
.error .input::placeholder{
  color: red;
}
.error span {
  color: red;
}
.error_text {
  font-size: 12px;
}