.item {
    color: white;

    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: start;
    gap: 8px;

    background-color: #231c43;
    padding: 14px;
    border: 1px solid white;
    border-radius: 10px;
}
.item button {
    justify-self: end;
    grid-column: 2;

    color: white;
    padding: 4px;
    background-color: #231c43;
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    transition: 0.2s;
}
.item button:hover {
    cursor: pointer;

    background-color: white;
    color: #231c43;
}
.post_text{
    overflow: hidden;
    white-space: pre-wrap;
    /*max-width: 527px;*/
    overflow-wrap: break-word;
}