.header {
    grid-area: h;
    background-color: #231c43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header img {
    width: 48px;
}
.loginBlock {
}
.navLink {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 6px 16px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.navLink:hover {
    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.35);
}
.userName {
    font-weight: 700;
    color: white;
}