.posts {
    display: grid;
    row-gap: 1rem;
    margin-top: 15px;
}
.posts_wrapper {
    padding: 0 10px;
}

h3 {
    text-align: center;
    margin-bottom: 14px;
}

.new_post {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}
.new_post textarea {
    grid-column: 1 / -1;
    max-width: 100%;
}
.new_post button {
    width: 80px;
    height: 30px;
}

.new_post button:first-of-type{
    justify-self: end;
}
.new_post button:last-of-type{

}