.posts {
    display: grid;
    row-gap: 1rem;
    margin-top: 15px;
}
.posts_wrapper {
    padding: 0 10px;
}

h3 {
    text-align: center;
    margin-bottom: 14px;
}

.new_post {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.new_post textarea {
    grid-column: 1 / -1;
    max-width: 100%;
}
.new_post button {
    padding: 12px;
}

.new_post button:first-of-type{
    justify-self: end;
}
.new_post button:last-of-type{

}
.field{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #231c43;
}