.item {
    color: white;

    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 8px;

    background-color: #231c43;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.item button {
    justify-self: end;
    grid-column: 2;
}