.dialogs {
    background-color: #eeadff;

    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogs_items{
    background-color: #363159;

}
.dialog{
    padding: 18px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.2);

    display: block;

    transition: .2s;
}
.dialog:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.dialogs_items .active {
    color: #00fdfd;
    background-color: rgba(0, 0, 0, 0.45);
}

.messages{
    padding: 10px;
}
.message{

}