.dialogs {
    background-color: #eeadff;

    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogs_items{
    background-color: #363159;

}
.dialogs_items .active {
    color: #00fdfd;
    background-color: rgba(0, 0, 0, 0.45);
}
.dialogs_items:hover .active {
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.messages{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-self: end;
}
.send_message{
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    justify-self: end;
}
.send_message textarea{
    width: 100%;
}
.send_message button{
    padding: 12px;
}
.field{
    resize: none;
    min-width: 1230px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #231c43;
}