.textarea {
    resize: inline;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #231c43;
}
.error .textarea {
    border-color: red;
    color: red;
}
.error span {
    color: red;
}
.error_text {
    font-size: 12px;
}